.footer-webapp {
	position: relative;
	width: 100%;
    height: 100px;
	color: black;
	padding: 25px;

	.copyright{
		padding-top: 4px;	
		text-align: left;
	    font-size: 12px;
	    font-weight: normal;
	    -webkit-font-smoothing: subpixel-antialiased;
	    font-smooth: always;
	    text-shadow: none;
	    letter-spacing: 0.1px;
	}
				
}


